// @import '../../node_modules/bootstrap/scss/bootstrap.scss';

// html{
//   overflow-x:hidden;
// }

* {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
}


body{
  background-color: #fbfbfb;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

@import 'block/header';
@import 'block/titul';
@import 'block/benefit';
@import 'block/why';
@import 'block/cmc';
@import 'block/exam';
@import 'block/gmo';
@import 'block/foother';
@import 'block/modal';
@import 'block/range';


@import 'media/media';

.menu__overlay {
  display: none;
}

.menu__overlay_active {
  display: block;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0, .7);
}