// @import '../../node_modules/bootstrap/scss/bootstrap.scss';

// html{
//   overflow-x:hidden;
// }

* {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
}

body{
  overflow-x: hidden;
}

.container {
  width: 1350px;
  margin: 0 auto;
}

@import 'block/titul';
@import 'block/benefit';
@import 'block/why';
@import 'block/cmc';
@import 'block/exam';
@import 'block/gmo';
@import 'block/foother';
@import 'block/modal';
@import 'block/range';