.cmc {
  padding-top: 145px;
  margin: 0 auto;
  min-height: 750px;

  .impl {
    padding: 44px 33px 44px 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    background-color: rgba(226, 245, 219, 0.3);
    border-radius: 24px;

    &__fon {
      padding: 37px 30px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      align-items: end;
      column-gap: 30px;
      max-width: 100%;

      background-color: #ECFFE5;
      border-radius: 24px;
      position: relative;

      &_img {
        position: absolute;
        top: -214px;
        left: -119px;
      }

      &_iframe>iframe {
        width: 100%;
        max-height: 587px;
        border-radius: 24px;
      }

      &_gif {
        display: none;
      }

      &_item {

        &-descr {
          margin-top: 26px;
          padding: 28px 24px;
          max-width: 547px;
          // height: 100%;
          border-radius: 24px;
          background: #FFFFFF;

          &-btn {
            margin-top: 32px;
            padding: 18px 24px;
            max-width: 381px;
            height: 56px;
            background: #41B619;
            border-radius: 20px;
            border: none;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            color: #FFFFFF;
            cursor: pointer;
            text-decoration: none;

            &:hover {
              background: #2D920A;
              color: #FFFFFF;
              transition: all 200ms ease;
            }

            &.grid {
              display: none;
            }
          }

          &-text {
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0.02em;
            color: #464646;

            span {
              font-weight: 700;
              font-size: 16px;
              line-height: 28px;
              letter-spacing: 0.02em;
              color: #41B619;
            }
          }
        }

        &-title {
          font-weight: 700;
          font-size: 32px;
          line-height: 54px;
          letter-spacing: 0.02em;
          text-transform: uppercase;
          color: #464646;

          &.grid {
            display: none;
          }
        }
      }
    }
  }
}