.foother{
  padding: 110px 0 52px 0;
  .confid {
    a{
      margin-top: 30px;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      text-decoration-line: underline;
      color: #7D7D7D;
    }
  }
  .bot{
    border-top: 1px solid #E4E8EA;
  }
  .titul__menu{
    padding-top: 24px;
    border-bottom: none;
  }
}
