.gmo{
  padding-top: 246px;
  position: relative;
 
  }
  .mobailimg{
    display: none;
  }
  .flat{
    padding: 38px;
    width: 428px;
    background: #FFFFFF;
    box-shadow: 0px 12px 25px rgba(30, 58, 20, 0.1);
    border-radius: 24px;
    position: relative;

    &__gif{
      position: absolute;
      top: -104px;
      right: -568px;
    }

    &__img{
      max-width: 986px;
      position: absolute;
      top: -61px;
      left: 334px;
      z-index: -1;
    }

    &::after {
      content: '';
      position: absolute;
      z-index: -2;
      width: 322px;
      height: 526px;
      left: -28px;
      top: 70px;
      border-radius: 24px;
      background-color: #E2F5DB;
    }
    &::before {
      content: '';
      position: absolute;
      z-index: -2;
      left: -58px;
      top: 100px;
      width: 322px;
      height: 523px;
      border-radius: 24px;
      background-color: rgba(226, 245, 219, 0.3);
    }
    &__title{
      font-weight: 700;
      font-size: 26px;
      line-height: 28px;
      letter-spacing: 0.02em;
      color: #464646;

    }
    &__subtitle{
      margin-top: 24px;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      color: #7D7D7D;
    }
    &__price{
      margin-top: 32px;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      color: #7D7D7D;
    }
    &__rooms{
      display: flex;
      gap: 10px;

    }
    &__minmax{
      margin-top: 11px;
      display: flex;
      justify-content: space-between;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0.02em;
      color: #464646;
    }
    &__term{
      margin-top: 34px;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      color: #7D7D7D;
    }
    &__years{
      display: flex;

    }
  
    &__btn{
      margin-top: 32px;
      padding: 18px 24px;
      max-width: 350px;
      height: 56px;
      background: #41B619;
      border-radius: 20px;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: #FFFFFF;
      cursor: pointer;
      position: relative;
     
     
      &:hover {
        background: #2D920A;
        color: #FFFFFF;
        transition: all 200ms ease;
      }
    }
   
  }
  


