// Стилизация текста внутри модальных окон

.modaleco {
  input{
    padding: 10px 16px;
    width: 350px;
    height: 56px;
    background: #F1F2F2;
    border-radius: 8px;

  }
  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 54px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #464646;
  }
  &__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #7D7D7D;  
  }
  &__descr{
    margin-top: 24px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #7D7D7D;
    a{
      color: #41B619;
     
    }
  }
  .btn{
    position: relative;
    margin-top: 24px;
    padding: 18px 24px;
    width: 350px;
    height: 56px;
    background: #41B619;
    border-radius: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    &:hover{
      background: #2D920A;
      transition: all 200ms ease;
    }
  }
}

// Стилизация padding внутри модального окно
.pad {
  margin-top: 38px;
  padding: 0 38px 38px;
}

// Стилизация модального окна eco tuj его размеров
.wid{
  width: 850px;
  height: 100%;
  background: #FFFFFF;
  box-shadow: 0px 12px 25px rgba(30, 58, 20, 0.1);
  border-radius: 24px;
}

// Cтилизация крестика у модальных окон
.inclos{
  top: 20px;
  right: 20px;
}

// Стилизация модального окна обычной ипотеки
.modalthink{
  width: 766px;
  height: 100%;
  background: #FFFFFF;
  box-shadow: 0px 12px 25px rgba(30, 58, 20, 0.1);
  border-radius: 24px;
  .think{
    padding-top: 23px;
    img{
      transform: translateX(-50px);
    }
  }
}

// Настройка чекбоксов и радио на подборе кв

.form_radio_btn {
	display: inline-block;
	margin-right: 10px;
}
.form_radio_btn input[type=radio] {
	display: none;
}
.form_radio_btn label {
  margin-top: 12px;
  text-align: center;
  padding: 10px;
  width: 48px;
  height: 48px;
  background: #F1F2F2;
  border-radius: 8px;
  cursor: pointer;
  &:hover{
    background-color: #E2F5DB;
  }
}

/* Checked */
.form_radio_btn input[name=radio-room]:checked + label {
	background-color: #41B619;
  color: #fff;
}


 
/* Hover */
.form_radio_btn label:hover {
	color: #666;
}
 
/* Disabled */
.form_radio_btn input[type=radio]:disabled + label {
	background: #efefef;
	color: #666;
}



// Настрйка радио чекбоксов с временем года



.form_radio_btn-year input[name=radio]:checked + label {
	background-color: #41B619;
  color: #fff;
}

.form_radio_btn-year {
	display: inline-block;
	margin-right: 10px;
}
.form_radio_btn-year input[type=radio] {
	display: none;
}

.form_radio_btn-year label {
  margin-top: 12px;
  display: flex;
  column-gap: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #464646;
  cursor: pointer;
  padding: 10px;
  height: 48px;
  background: #F1F2F2;
  border-radius: 8px;
  &:hover{
    background-color: #E2F5DB;
  }
}

@media (max-width: 425px) {
  .pad {
    padding: 0;
    margin-top: 0;
  }
}
