.modaleco {

  input{
    padding: 10px 16px;
    // gap: 10px;
    width: 350px;
    height: 56px;
    background: #F1F2F2;
    border-radius: 8px;
  }
  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 54px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #464646;
  }
  &__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #7D7D7D;  
  }
  &__descr{
    margin-top: 24px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #7D7D7D;
    a{
      color: #41B619;
     
    }
  }
  .btn{
    position: relative;
    margin-top: 24px;
    padding: 18px 24px;
    width: 350px;
    height: 56px;
    background: #41B619;
    border-radius: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    &:hover{
      background: #2D920A;
      transition: all 200ms ease;
    }
  }
}
.pad {
  margin-top: 38px;
  padding: 0 38px 38px;
}

.wid{
  width: 850px;
  height: 100%;
  background: #FFFFFF;
  box-shadow: 0px 12px 25px rgba(30, 58, 20, 0.1);
  border-radius: 24px;
}

.inclos{
  top: 20px;
  right: 20px;
}
.modalthink{
  width: 766px;
  height: 100%;
  background: #FFFFFF;
  box-shadow: 0px 12px 25px rgba(30, 58, 20, 0.1);
  border-radius: 24px;
  .think{
    padding-top: 23px;
    img{
      transform: translateX(-50px);
    }
  }
}



