.why{
  position: relative;

  &__title{
    position: relative;
    font-weight: 700;
    font-size: 32px;
    line-height: 54px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #464646;
    &:before {
      content: 'почему';
      position: absolute;
      top: -47px;
      font-weight: 900;
      font-size: 144px;
      line-height: 54px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #7EDC5D;
      opacity: 0.05;
    }
  }
  &__wrapper{
    position: relative;
    margin-top: 61px;
    max-width: 854px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(2, minmax(232px, auto));
    column-gap: 28px;
    row-gap: 66px;
    &_img{
      position: absolute;
      transform: translateY(-53%);
      right: -473px;
    }
   
    &_card {
      padding: 28px 24px 24px;
      background: #83D683;
      border-radius: 24px;
      position: relative;
      &.green {
        &::after {
          content: '';
          position: absolute;
          top: -58px;
          width: 130px;
          height: 130px;
          background:url('../icons/maneytabl.svg');
          right: -13px;
        }
      }
      &.orange{
        background: #FCA547;
        &::after {
          content: '';
          position: absolute;
          top: -58px;
          width: 130px;
          height: 130px;
          background:url('../icons/laptop.png');
          right: -13px;
        }
      } 
      &.blue{
        background: #53B4E4;
        &::after {
          content: '';
          position: absolute;
          top: -58px;
          width: 130px;
          height: 130px;
          background:url('../icons/Key.svg');
          right: -13px;
        }
      }
      &.violet{
        background: #C889FA;
        &::after {
          content: '';
          position: absolute;
          top: -58px;
          width: 130px;
          height: 130px;
          background:url('../icons/safe.svg');
          right: -13px;
        }
      }
      &-title{
        font-weight: 700;
        font-size: 22px;
        line-height: 28px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
      }
      &-subtitle {
        margin-top: 12px;
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
      }
    }
  }
}