@media (max-width: 1100px) {
  .wrapper__card_grid {
    grid-auto-flow: inherit;
  }

  .eco__card {
    &_grid {
      grid-auto-flow: inherit;
    }
  }
}

@media (max-width: 1025px) {
  .wrapper__card_grid {
    grid-auto-flow: inherit;
  }

  .eco__card {
    &_grid {
      grid-auto-flow: inherit;
    }
  }
}

@media (max-width: 768px) {
  .comprasion_wr {
    column-gap: 3px;
  }

  .benefit {
    &__title {
      &::before {
        top: -35px;
        font-size: 76px;
      }
    }
  }

  .wrapper {
    padding: 15px;
    border-radius: 32px 0 0 32px;

    &__card {
      &_title {
        font-size: 18px;
        line-height: 28px;
      }

      &_grid {
        grid-auto-flow: inherit;
      }

      &_btn {
        width: inherit;
        font-size: 14px;
      }
    }


  }

  .eco {
    padding: 15px;
    border-radius: 0 32px 32px 0;

    &__card {
      &_title {
        font-size: 18px;
        line-height: 28px;

      }

      &_grid {
        grid-auto-flow: inherit;
      }

      &_btn {
        width: inherit;
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 576px) {
  .wrapper {
    &__card {
      &_title {
        font-size: 17px;
      }
    }
  }

  .benefit {
    .mininformation {
      &__el {
        font-size: 14px;

        span {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .benefit {
    &__title {
      font-size: 20px;

      &::before {
        font-size: 40px;
      }
    }

    &__nav {
      .nav {
        column-gap: 14px;
        row-gap: 12px;
      }

      .nav-link {
        padding: 4px 12px;
        margin: 0 auto;
        background: #F1F2F2;
        border-radius: 16px;
        font-size: 16px;
        &.active {
          border-bottom: none;
          font-weight: 700;
          font-size: 20px;
          line-height: 28px;
          letter-spacing: 0.02em;
          color: #41B619;
          background-color: #E2F5DB;
        }
      }
    }

    .mininformation {
      flex-wrap: wrap;
    }
  }

  .wrapper {
    padding: 6px;
    max-width: 100%;

    &__card {
   
      &_grid {
        row-gap: 12px;

        &-bl {
          &-title {
            font-size: 12px;
          }

          &-number {
            font-size: 20px;
          }

          &-descr {
            font-size: 8px;
          }
        }
      }

      &_btn {
        font-size: 10px;
      }
    }

    .comprasion_wr {
      justify-items: center;
    }
  }

  .eco {
    padding: 6px;
    max-width: 100%;

    &__card {
      &_title {
        margin-bottom: 0;
      }

      &_grid {
        row-gap: 12px;

        &-bl {
          &-title {
            font-size: 12px;
          }

          &-number {
            font-size: 20px;
          }

          &-descr {
            font-size: 8px;
          }
        }
      }

      &_btn {
        font-size: 10px;
      }
    }
  }

}

@media (max-width: 390px) {
  .eco {
    &__card {
      &_title {
        margin-bottom: 27px;
      }
    }
  }
}