@media (max-width: 1100px) {
  
  .wrapper{
    &__card{
      &_grid{
        grid-template-rows: auto;
        grid-auto-flow: inherit;
      }
    }
  } 


  .eco{
    &_img{
      top: 80%;
      transform: rotate3d(1, 1, 1, 45deg);
    }
    &__card {
      &_grid {
        grid-template-rows: auto;
        grid-auto-flow: inherit;
      }

      
    }
   

  }
}

@media (max-width: 1025px) {
  .wrapper__card_grid {
    grid-auto-flow: inherit;
  }

  .eco__card {
    &_grid {
      grid-auto-flow: inherit;
    }
  }
  .wrapper__card_grid{
    row-gap: 0;
  }
  .eco__card_grid{
    row-gap: 0;
  }
}




@media (max-width: 930px) {
  .eco__card_btn{
    width: 300px;
  }
  .eco{
    &_img{
      top: 90%;
      transform: rotate3d(1, 1, 1, 45deg);
    }
  }
}

@media (max-width: 768px) {
  .comprasion_wr {
    column-gap: 3px;
  }

  .benefit {
    &__title {
      &::before {
        top: -35px;
        font-size: 76px;
      }
    }
  }

  .wrapper {
    padding: 15px;
    border-radius: 32px 0 0 32px;

    &__card {
      &_title {
        font-size: 18px;
        line-height: 28px;
      }

      &_grid {
        grid-auto-flow: inherit;
      }

      &_btn {
        width: inherit;
        font-size: 14px;
      }
    }


  }

  .eco {
    padding: 15px;
    border-radius: 0 32px 32px 0;

    &__card {
      &_title {
        font-size: 18px;
        line-height: 28px;

      }

      &_grid {
        grid-auto-flow: inherit;
      }

      &_btn {
        width: inherit;
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 576px) {
  .wrapper {
    &__card {
      &_title {
        font-size: 17px;
      }
    }
  }

  .benefit {
    .mininformation {
      &__el {
        font-size: 14px;

        span {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .benefit {
    &__title {
      font-size: 20px;

      &::before {
        font-size: 40px;
      }
    }

    &__nav {
      .nav {
        column-gap: 14px;
        row-gap: 12px;
      }

      .nav-link {
        padding: 4px 12px;
        margin: 0 auto;
        background: #F1F2F2;
        border-radius: 16px;
        font-size: 16px;
        &:hover {
          text-shadow: 0 0 .85px #41B619, 0 0 .85px #41B619;
          color: #41B619;
          border-bottom: none;
          background-color: #E2F5DB;
        }
        &.active {
          text-shadow: 0 0 .85px #41B619, 0 0 .85px #41B619;
          color: #41B619;
          border-bottom: none;
          background-color: #E2F5DB;
        }
      }
    }

    .mininformation {
      flex-wrap: wrap;
    }
  }

  .wrapper {
    padding: 6px 6px 20px;
    max-width: 100%;

    &__card {
      &_title{
        line-height: 20px;
      }
      &_grid {
        row-gap: 6px;

        &-bl {
          &-title {
            font-size: 12px;
          }

          &-number {
            font-size: 12px;
            line-height: 7px;
          }

          &-descr {
            font-size: 8px;
          }
        }
      }

      &_btn {
        font-size: 10px;
        width: 100%;
      }
    }

    .comprasion_wr {
      justify-items: center;
    }
  }

  .eco {
    padding: 6px 6px 20px;
    max-width: 100%;
    position: inherit;
    &_img{
      display: none;
    }
    &__card {
      &_title {
        font-size: 17px;
        line-height: 20px;
      }

      &_grid {
        row-gap: 6px;

        &-bl {
          &-title {
            font-size: 12px;
          }

          &-number {
            font-size: 12px;
            line-height: 7px;
          }

          &-descr {
            font-size: 8px;
          }
        }
      }

      &_btn {
        font-size: 10px;
        width: 100%;
      }
    }
  }

}

@media (max-width: 389px) {
  .eco {  
    &__card {
      &_title {
        margin-bottom: 20px;
      }
    }
  }
}