@media (max-width: 1200px) {
  .cmc {
    .impl {
      &__fon {
        column-gap: 20px;

        &_item {
          &-title {
            font-size: 26px;
          }

          &-descr {
            &-text {
              font-size: 14px;
            }

            &-btn {
              font-size: 12px;
            }
          }

        }
      }
    }
  }
}

@media (max-width: 1023px) {
  .cmc {
    .impl {
      &__fon {
        grid-template-columns: 1fr;
        row-gap: 10px;

        &_img {
          display: none;
        }

        &_iframe {
          display: none;
        }

        &_item {
          &-title {
            display: none;

            &.grid {
              display: block;
            }
          }

          &-descr {
            &-btn {
              display: none;

              &.grid {
                display: block;
                margin: 0 auto;
                margin-top: 20px;
              }
            }
          }
        }

        &_gif {
          display: block;
          grid-row: 1 / 2;

          iframe {
            border-radius: 24px;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .cmc {
    .impl__fon_item-title {
      font-size: 20px;
    }

    .impl {
      padding: 0;

      &__fon {
        padding: 37px 25px;
      }
    }
  }
}

@media (max-width: 400px) {
  .cmc {
    .impl {
      &__fon {
        padding: 12px 10px;

        &_item {
          &-descr {
            margin-top: 8px;
            padding: 13px 14px;

            &-btn {
              padding: 18px 12px;
              font-size: 12px;
            }

            &-text {
              font-size: 11px;
              line-height: 20px;

              span {
                font-size: 12px;
                line-height: 16px;
              }
            }
          }

          &-title {
            font-size: 16px;
          }
        }
      }

    }
  }
}

@media (max-width: 360px) {
  .impl__fon_item-descr-btn.grid {
    font-size: 10px;
  }
}