

@media (max-width: 1200px) {
  .cmc{
    .impl{
      &__fon{
        column-gap: 20px;
        &_item{
          &-title{
            font-size: 26px;
          }
          &-descr{
            &-text{
              font-size: 14px;
            }
            &-btn{
              font-size: 12px;
            }
          }
         
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .cmc{
    .impl{
      &__fon{
        grid-template-columns: 1fr;
        row-gap: 10px;
        &_item{
          &-title{
            display: none;
          }
        }
        &_gif{
          grid-row: 1 / 2;
        }
      }
    }
  }
}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}

@media (max-width: 425px) {
  
}