@media (max-width: 1400px) {
  .header {
    padding-bottom: 0px;

    &__menu {
      &_links {
        &-order {
          a {
            font-size: 14px;
          }
        }

      }
    }
  }

  .content {
    &__wrapper {
      &_title {
        margin-top: 40px;
        font-size: 32px;

        &::after {
          top: -4px;
          right: -5px;

        }
      }

      &_subtitle {
        font-size: 16px;
      }

      &_btn {
        margin-top: 24px;
      }

      &_terms {
        margin-top: 32px;
      }
    }

    &__img {
      right: -9px;
      top: 38px;
      // right: 62px;
      width: 394px;
    }
  }
}

@media (max-width: 1200px) {
  .content{
    &__img{
      right: -9px;
      top: 38px;
    }
  }
}

@media (max-width: 1024px) {
  .header {
    padding-bottom: 0px;

    &__menu {
      &_links {
        &-order {
          a {
            font-size: 10px;
          }
        }
      }

      &_logo {
        img {
          width: 125px;
        }

      }

      &_number {
        font-size: 16px;
      }
    }
  }

  .content {
    &__img {
      width: 350px;
      right: 11px;
      top: 16px;
    }

    &__wrapper {
      &_title {
        width: 467px;
        line-height: 35px;
        font-size: 26px;

        &::after {
          display: none;

        }
      }

      &_subtitle {
        width: 430px;
        font-size: 12px;
        line-height: 20px;
      }
    }


  }
}

@media (max-width: 768px) {
  .header {
    &__menu {
      padding-bottom: 5px;

      &-hamburger {
        display: block;
        width: 22px;

        span {
          display: block;
          width: 22px;
          height: 2px;
          background-color: #464646;
          margin-bottom: 2px;
          border-radius: 2px;
          transition: 0.5s all;
        }

        &-active {
          span {
            margin-bottom: -2px;

            &:nth-child(1) {
              transform: rotate(-45deg);
            }

            &:nth-child(2) {
              display: none;
            }

            &:nth-child(3) {
              transform: rotate(45deg);
            }
          }
        }
      }

      &_links {
        position: relative;

        &-order {
          display: none;
        }
      }

    }
  }

  .content {
    &__img {
      left: 50%;
      transform: translateX(-50%);
      top: 199px;
    }

    &__wrapper {
      &_title{
        &::after {
          display: block;

        }
      }
      &_terms {
        margin-top: 325px;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 10px;

        &-item {
          &:nth-child(2) {
            order: 3;
          }
        }
      }

      &_title {
        margin-top: 0px;
      }

      &_subtitle {
        width: 546px;
        margin-top: 15px;
        line-height: 24px;
      }

      &_btn {
        display: block;
        margin: 0 auto;
        margin-top: 15px;

        &:nth-child(3) {
          order: 3;
        }
      }
    }
  }
}

@media (max-width: 576px) {

  .content {
    &__wrapper {
      &_title {
        width: 301px;
        &::after {
          display: none;
        }
      }

      &_subtitle {
        width: 386px;
      }
    }
    &__img{
      top: 258px;
    }

  }
}

@media (max-width: 425px) {
  .header {
    &__menu {
      &_number {
        font-size: 14px;
      }
    }
  }

  .content {
    &__wrapper {
      &_title {
        width: 301px;
        margin: 0;
      }

      &_subtitle {
        width: 386px;
      }
    }
  }

  .content {
    &__wrapper {
      &_title {
        font-size: 24px;
        line-height: 22px;
      }

      &_subtitle {
        width: 100%;
        font-size: 14px;
        line-height: 22px;

      }

      &_btn {
        width: 290px;
      }

      &_terms {
        margin-top: 293px;
        &-item {
          row-gap: 6px;
          column-gap: 5px;
      
          &-descr {
            font-size: 12px;

            span {
              font-size: 14px;
            }
          }
          &-img{
            img{
             width: 100%;
            }
           }
        }
       

      }
    }

    &__img {
      top: 215px;
      width: 292px;
    }
  }
}


@media (max-width: 385px) {
 
  .content {
    
    &__img {
      top: 260px;
    }
  }
}